header h1 {
  text-align: center;
  font-size: 4em;
  font-family: "Courier New";
}

#logo {
  height: 1em;
  margin-right: 5px;
  vertical-align: middle;
}

#w16ee0143076cd0733d371045d77d62f4 {
  border-bottom: 1px #000 solid;
}
