header h1 {
  text-align: left;
  font-size: 4em;
  font-family: "Lucida Console", Monaco, monospace;
  font-style: italic;
  display: inline;
}

header h3 {
  text-align: right;
  font-size: 3em;
  font-family: "Lucida Console", Monaco, monospace;
  font-style: italic;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

header {
  background-color: white;
  color: black;
}

body {
  background-color: black;
  color: white;
}

#logo {
  height: 2em;
  margin: 10px 10px 10px 10px;
  vertical-align: middle;
}

#menu {
  float: right;
}

#w16ee0143076cd0733d371045d77d62f4 {
}

#me {

}
