html {
  font-size: 12pt;
  font-family: sans-serif;
}

header {
  width: 100%;

  background-color: white;
  color: black;
}

header a {
  color: black;

  text-decoration: none;

  font-size: 2em;
  font-family: "Lucida Console", Monaco, monospace;
  font-style: italic;

  margin-left: 30px;

}

header a:hover {
  border-bottom: solid;
}

nav {
  float: right;
  margin-right: 100px;
  display:inline;
}

body {
  background-color: black;
  color: white;
}

#logo {
  height: 4em;
  margin: 10px 10px 10px 10px;
  display: inline;
  vertical-align: middle;
}

#me {

}

#main{
  max-width: 50vw;
  margin: auto;
}

#this {
  border-bottom: solid;
}

#w16ee0143076cd0733d371045d77d62f4 {
}
